#footer {
    background-color:var(--darkblue);
    position:absolute;
    padding-top: 10px;
    width:100%;
    bottom:0;
}

section#footer a{
    margin-right: 10px;
}

li#work-li.nav h3:hover {
    color:white;
}
