#me {
    background-image: url('../images/Profile_Picture.jpg');
    background-size: cover;
    height:200px;
    width:200px;
    border-radius: 50%;
    border: 4px solid blue;
}

#me-text{
    font-size: 1.5em;
    display:inline-block;
    margin-left: 10px;
    color: var(--darkblue);
}

@media screen and (max-width: 412px) {
    section#me-section{
        display:block;
        text-align: center;
    }

    section h2#me-title.title {
        max-width: 190px;
        margin-bottom: 10px;
        border: none;
    }
}