section#resume {
    display: block
    }

section#resume h2.title {
border-right:none;
border-bottom: 4px solid var(--darkblue);
}

.content {
    margin-left: 2%;
    color: var(--bluefont);
}

.content ul {
    list-style: circle;
    color: var(--bluefont);
    font-weight: 700;
}

